
    <button (click)="principal()" >principal</button>
    <nav>
      <ul class="menu">
        <li class="menu-item">
          <a href="#" class="menu-button">Menu</a>
          <ul class="submenu">
            <li  (click)="profil()">Profil</li>
            <li (click)="connexion()">Connexion</li>
            <li class="dropdown">
              Alimentation
              <ul class="dropdown-content">
                <li (click)="strava()">Strava</li>
                <li (click)="main()">À la main</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  <router-outlet></router-outlet>
